<a href="/country/arm">
    <div id="ARM" class="card fade-in"><img data-src="https://flagcdn.com/am.svg" alt=""
            src="https://flagcdn.com/am.svg" class="card__img">
        <ul class="card__items">
            <li>
                <h2 class="card__label">Armenia</h2>
            </li>
            <li class="card__item"><span class="card__item--identifier">population: </span>2, 963, 234</li>
            <li class="card__item"><span class="card__item--identifier">region: </span>Asia</li>
            <li class="card__item"><span class="card__item--identifier">capital: </span>Yerevan</li>
        </ul>
    </div>
</a>